iframe {
	float: right;
}

li {
    display: block;
	margin-bottom: 20px;
}


li li li:before {
    content: "-";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    float: left;
    margin-top: 4px;
    margin-left: -26px;
    color: #00FFA4;
}

li:before
{
    content: "\e142";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    float: left;
    margin-top: 4px;
    margin-left: -26px;
    color: #4000A0;
}

li li:before
{
    content: "\e250";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    float: left;
    margin-top: 4px;
    margin-left: -26px;
    color: #CCFFC4;
}

li span{
	float: right;
}

html *
{
   font-size: 20px;
   font-family: 'Signika';
}

.intro_box {
	position: relative;
	top: 100px;
}

.exp_box {
	position: relative;
	top: 180px;
}

.exp_box li span{
	color: #600000;
}

.exp_box li li {
	color: black;
	margin-bottom: 5px;
	font-size: 18px;
}

.pub_box {
	position: relative;
	top: 150px;
}

.pres_box {
	position: relative;
	top: 160px;
}

.pres_box li span {
	color: #600000;
}

.contact_box {
	position: relative;
	top: 200px;
}

.intro_photo {
	display: inline-block;
	opacity: 0.9;
	width: 300px;
	border-radius: 12px;
	border: 4px solid #ddd;
}

.intro_name {
	font-size: 30px;
	color: black;
	font-weight: bold;
	font-family: 'Francois One';
}

.intro_text {
	position: relative;
	display: inline-block;
	font-family: 'Signika';
	color: black;
	font-size: 24px;
	vertical-align: top;
	top: 20px;
	left: 40px; 
	width: 560px;
}

.box_title {
	text-align: center;
	font-size: 30px;
	font-family: 'Muli', sans-serif;
	text-shadow: 0 -1px rgba(0,0,0.1,0.6);
	padding: 50px 15px;
	color: green;
}

.exp_text {
    font-size: 16px;
}

.pub_text {
	word-break: break-all;
}

.pres_text {
	word-break: break-all;
}

.text_tag {
	font-weight: bold;
}

.contact_info {
	margin-top: 30px;	
}

.update_date {
	position: relative;
	top: 200px;	
	bottom: 30px;
	text-align: center;
	color: #AAAAA9;
	font-size: 12px;
}
